@import '../../styles/variables.scss';

.mainProduct {
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  width: 419px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .productBox {
    width: 420px;
    height: 420px;
    margin: 4px 0px;
    position: relative;

    .bookmark {
      position: absolute;
      right: 20px;
      font-size: 20px;
      top: 10px;
    }

    .productImg {
      width: 419px;
    }
  }

  .productInfo {
    text-align: center;
  }

  .badge {
    margin-bottom: 12px;
    width: 192px;
    font-size: $fontsize4;
    padding: 9px 0px;
    border-top: 1px solid #e2e1d7;
    border-bottom: 1px solid #e2e1d7;
    @include flex-center;
    letter-spacing: 2px;
  }

  .korName {
    height: 14px;
    margin: 10px 0px;
  }

  .engName {
    height: 40px;
  }

  .price {
    padding: 9px 0px;
    height: 60px;
  }

  .previewBtn {
    width: 128px;
    height: 40px;
    border: 1px solid #e2e1d7;
    background: none;
    cursor: pointer;
  }
}
