@import '../../styles/variables.scss';

.soldOutBtn {
  margin: 30px 0px;
  width: 326px;
  height: 48px;
  background-color: #e0e0e0;
  color: #757575;
  border: none;
  font-size: $fontsize3;
  cursor: no-drop;
}
