@import '../../../styles/variables.scss';

.FooterContent {
  font-size: $fontsize3;
  width: 260px;
  padding: 60px 0px 0px 20px;
  display: flex;
  flex-direction: column;

  a {
    text-decoration-line: none;
    color: inherit;
  }

  .FooterContentTitle {
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 40px;
  }

  .FooterContentItem {
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 24px;
    &:hover {
      padding-bottom: 4px;
      border-bottom: 1px solid black;
    }
  }
}
