// variables.scss 파일
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fontDefalut {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}

$fontsize1: 32px;
$fontsize2: 24px;
$fontsize3: 12px;

$title-font: 'Nanum Myeongjo', serif;
