@import '../../styles/variables.scss';

.benefit {
  width: 418px;
  height: 71px;
  text-align: center;
  color: inherit;
  text-decoration-line: none;

  .benefitTitle {
    font-family: $title-font;
    font-size: $fontsize2;
    margin: 0px 0px 30px 0px;
  }
}
