@import '../styles/variables.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  $borderColor: #e2e1d7;

  a {
    text-decoration-line: none;
    color: inherit;
  }

  .moreText {
    margin-top: 25px;
  }

  .title {
    font-size: $fontsize1;
    font-family: $title-font;
    margin-top: 30px;
    padding-bottom: 12px;
  }

  .nav {
    width: 100%;
    height: 70px;
    background-color: lightgray;
  }

  .mainVideo {
    padding: 60px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 808px;
    position: relative;

    .text {
      position: absolute;
      text-align: center;

      .moreText {
        margin: 0px;
        height: 63px;
      }

      .title {
        font-size: 36px;
        margin: 0px;
        height: 77px;
      }
    }

    color: white;
  }

  .section1 {
    display: flex;
    justify-content: center;
    margin: 120px 0px 120px 0px;

    .productBox {
      width: 627px;
      height: 660px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .productImg {
        width: 627px;
        height: fit-content;
      }

      .title {
        font-size: $fontsize2;
      }
    }

    .section1Img {
      width: 627px;
      height: 660px;
      object-fit: cover;
    }
  }

  .section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 120px;
    text-align: center;

    .seciton2Img {
      width: 1254px;
      height: 560px;
      object-fit: cover;
      margin: auto;
    }
  }

  .section3 {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }

  .section4 {
    text-align: center;
    margin-bottom: 30px;

    .productList {
      padding: 0px 20px;
      @include flex-center;
    }

    .carousel {
      width: 1708px;
      overflow-x: auto;
      display: flex;
      scroll-behavior: smooth;
      transition: transform 1s;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .arrow {
      background: none;
      border: none;
    }

    .fa-chevron-left,
    .fa-chevron-right {
      font-size: 16px;
    }
  }

  .section5 {
    display: flex;
    justify-content: center;
    margin-bottom: 220px;
  }

  .section6 {
    display: flex;
    align-items: center;
    margin-bottom: 120px;

    .line {
      height: 71px;
      border-right: 1px solid $borderColor;
    }
  }
}
