@import '../styles/variables.scss';
.productDetailList {
  position: relative;

  .filters {
    margin: 30px;
    display: flex;
    justify-content: space-between;

    .filter {
      display: flex;

      .leftFilter {
        padding-right: 30px;
        width: 150px;
        height: 25px;
      }
      .rightFilter {
        padding-right: 30px;
        width: 150px;
        height: 25px;
      }
    }

    .range {
      height: 25px;
    }
  }

  .filterDetail {
    .filter1 {
      background-color: white;
      display: flex;
      margin-left: 30px;

      .filter10 {
        display: flex;
        align-items: center;
        padding: 30px 30px 30px 30px;

        input {
          margin-right: 5px;
        }
      }
    }
  }
}
