.mainSliderComp {
  display: flex;
  justify-content: center;

  .mainImg {
    position: relative;
  }

  .content {
    position: absolute;
    bottom: 60px;
    text-align: center;
    color: white;

    .moreText {
      margin: 0px;
      height: 63px;
      .more {
        font-size: 14px;
      }
    }

    .title {
      font-size: 36px;
      margin: 0px;
      height: 77px;
    }
  }
}
