@import '../styles/variables.scss';

.myPage {
  margin-top: 70px;
  padding-bottom: 120px;

  .wrapper {
    width: 70%;
    margin: auto;

    .head {
      font-family: $title-font;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 25px;
      padding: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
    }

    .customerBox {
      height: 100%;
      display: flex;
    }
  }
}
