@mixin stateCheckBox {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 10px auto;
}


.orderStatus {
  display: flex;
  
  .statusSpace {
    justify-items: center;
    align-items: center;
    width: 25%;
    text-align: center;
    
    .statusCheckbox1 {
      @include stateCheckBox;
      background-color: #000;
    }
    
    .statusCheckbox2 {
      @include stateCheckBox;
      background-color: #ccc;
    }
    
    .nonState {
      color: #ccc;
    }
  }
}