.productLists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .productList {
    padding: 30px;
    width: 25%;

    img {
      width: 100%;
      height: fit-content;
    }

    div {
      text-align: center;
      margin-top: 30px;
    }
  }
}
