.shopping {
  .shoppingNav {
    padding: 30px;
    max-height: 400px;
    overflow: scroll;

    .mainTitle {
      font-weight: bolder;

      .goProductDetailList {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
    }

    .category {
      display: flex;
      width: 150px;
    }
  }
}
