@import '../../styles/variables.scss';

.MediaAsset {
  text-align: center;
  margin: 0px 25px;

  .productImg {
    width: 601px;
    height: fit-content;
  }

  .text {
    margin-top: 50px;
  }

  .title {
    margin-top: 30px;
  }
}
