@import '../../styles/variables.scss';
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fcfeef;
  z-index: 1000;

  .mainNav {
    position: relative;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;

    .leftNavBox {
      @include flexCenter;

      div {
        margin-right: 30px;
        padding-bottom: 5px;
      }

      .shoppingOn {
        font-weight: bolder;
        border-bottom: 1px solid black;
      }

      .tendencyOn {
        font-weight: bolder;
        border-bottom: 1px solid black;
      }
    }

    .centerNavBox {
      text-align: center;

      .mainTitle {
        font-family: $title-font;
        font-size: $fontsize1;
        font-weight: bolder;
        margin-bottom: 10px;
      }
    }

    .rightNavBox {
      @include flexCenter;

      i {
        margin-left: 30px;
        padding-bottom: 5px;
        font-size: $fontsize2;
        &:hover {
          font-weight: bolder;
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .leftSubNav {
    .subNav {
      .shoppingHide {
        display: none;
        // opacity: 0;
        // position: absolute;
        // width: 400px;
        // height: 400px;
        // top: 78px;
      }

      .shopping {
        background-color: #fcfeef;
        position: absolute;
        width: 100%;
        top: 78px;
        // opacity: 1;
        // transition: opacity 0.5s ease-in-out;
      }

      .tendencyHide {
        display: none;
        opacity: 0;
        // position: absolute;
        // width: 400px;
        // height: 400px;
        // top: 78px;
      }

      .tendency {
        @include flexCenter;
        position: absolute;
        width: 100%;
        height: 300px;
        top: 78px;
        background-color: #fcfeef;
        // opacity: 1;
        // transition: display 0.5s ease-in-out;
      }
    }
  }
  // .background {
  //   position: absolute;
  //   top: 78px;
  //   left: 0;
  //   width: 100%;
  //   height: 100vh;
  //   background-color: red;
  //   z-index: 1000;

  //   /* 숨기기 */
  //   z-index: -1;
  //   opacity: 0;
  // }
  // .backgroundShow {
  //   opacity: 1;
  //   z-index: 1000;
  // }
  .rightSubNav {
    .searchHide {
      display: none;
      opacity: 0;
      // position: absolute;
      // width: 400px;
      // height: 400px;
      // top: 78px;
    }

    .search {
      position: absolute;
      background-color: #fcfeef;
      width: 100%;
      top: 78px;

      height: 400px;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

    .myPageHide {
      display: none;
      opacity: 0;
      // position: absolute;
      // width: 400px;
      // height: 400px;
      // top: 78px;
    }

    .myPage {
      position: absolute;
      background-color: #fcfeef;
      width: 400px;
      top: 78px;
      right: 0;

      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

    .wishListHide {
      display: none;
      opacity: 0;
      // position: absolute;
      // width: 400px;
      // height: 400px;
      // top: 78px;
    }

    .wishList {
      position: absolute;
      background-color: #fcfeef;
      width: 400px;
      top: 78px;
      right: 0;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

    .shoppingBasketHide {
      display: none;
      opacity: 0;
      // position: absolute;
      // width: 400px;
      // height: 400px;
      // top: 78px;
    }

    .shoppingBasket {
      position: absolute;
      background-color: #fcfeef;
      width: 400px;
      top: 78px;

      right: 0;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }
}
